$blue: #1f4287;
$red: #df0c12;
$black: #000000;
$grey-text: #344552;
$blue-text: #103f7c;

$red-button: #001eff;

$blue-popup: #172675;
$grey-placeholder-popup: #535353;
$grey-text-popup: #344552;
$prey-social-popup: #8e8e8e;
